<app-header></app-header>

<div>
    <app-sidebar></app-sidebar>
    <div id="rightSideWrapper">


        <div class="ContentBox">
            <main>
                <header class="navbar navbar-inverse navbar-expand-sm bg-info navbar-dark" id="nhea">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-left">
                                <li class="nav-item ">
                                        <a class="nav-link" href='/seller'>Seller</a>
                                    </li>
                            <li class="nav-item ">
                                <a class="nav-link" (click)="addproduct()">Add Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="removeproduct()">Remove products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="showproduct()">View products</a>
                            </li>
                        </ul>
                    </div>
                </header><br><br>
                <router-outlet></router-outlet>
            </main>
            <footer>
                <app-footer></app-footer>
            </footer>

        </div>

    </div>
</div>