<app-header></app-header>
<h1><strong>contact us</strong></h1>
<table class="table" id="products">
    	<thead>
        <tr>
        	
            <th>Name</th>
            <th>Contact No</th>
            <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
            <td>Raj Akbari</td>
            <td>9924397728</td>
             <td>raj4419999g@gmail.com</td>
        </tr>
         <tr>
            <td>Prizesh Bhadaniya</td>
            <td>9687370250</td>
            <td>prizeshbhadaniya@gmail.com</td>
        </tr>
        </tbody>
    </table>