
<div id="sidebar">
  <a class="dropdown-item" href="seeds.html">Seeds</a><br><br>
  <a class="dropdown-item" href="../static/fertilizer.html">Fertilizer</a><br><br>
  <!-- <a class="dropdown-item" href="../static/pestiside.html">Pestiside</a><br><br> -->
  <a class="dropdown-item" href="../static/farmmachinary.html">Farm Machinary</a><br><br>
  <a class="dropdown-item" href="../static/extension.html">Extension Activity</a><br><br>
  <a class="dropdown-item" href="../static/popfarm.html">POP</a><br><br>
  <a class="dropdown-item" href="../static/agroment.html">Agroment Advisor</a><br><br>
  <a class="dropdown-item" href="../static/farmingmaterial.html">Farming Material</a><br><br>
  <a class="dropdown-item" href="../static/storage.html">Storage</a><br><br>
  <a class="dropdown-item" href="../static/msp.html">Msp</a><br><br>
  <a class="dropdown-item" href="../static/national.html">National</a><br><br>
  <a class="dropdown-item" href="../static/international.html">Internatinal</a><br><br>
  <a class="dropdown-item" href="../static/advisiory.html">Advisiories</a><br><br>
  <!-- <a class="dropdown-item" href="../static/.html">Publicity Material</a> -->
</div>